.mobile_navbar{
    border-top: 1px solid gainsboro;
}
.navbar_logo{
    background-color: white; border-radius: 5px; margin-right: 0.25em;
    padding: 0.3em 0.25em; width: 2em; height: auto; object-fit: contain;
}
.navbar .mobile_navbar_links{
    font-size: 1.1em;
}
.navbar .mobile_navbar_links.active{
    background-color: #0D6EFD; border-radius: 8px;
    padding: 0.4em 0.8em; font-size: 1em; color: white;
}
.business_link{
    font-size: 0.8em;
}